/* Kontainer Utama */
.creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 100px;
}

/* Kartu */
.creation-card {
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  border-radius: 10px; /* Sudut membulat */
  overflow: hidden; /* Pastikan isi tidak keluar */
}

/* Judul */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40; /* Warna teks gelap */
}

/* Teks */
.card-text {
  font-size: 1rem;
  color: #495057; /* Warna teks abu gelap */
  line-height: 1.5; /* Spasi antar baris */
}

/* Gambar */
.img-fluid {
  object-fit: cover;
  height: 100%;
}
