
.carousel-item img {
  width: 100%; /* Atur sesuai kebutuhan, misalnya 80% atau 90% */
  max-width: 1500px; /* Batas maksimal jika ingin responsif */
  margin: 0 auto; /* Untuk memusatkan */
  height: 100vh;
  object-fit: cover; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators button {
  background-color: #fff;
}
